<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Implemented</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Implemented</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-299d45e70f68413eafd59ea0615537d8.png" alt="Implemented" usemap="#id-299d45e70f68413eafd59ea0615537d8map"/>
			   <map name="id-299d45e70f68413eafd59ea0615537d8map">
				  				<area shape="rect" coords="34,274,154,329" href="../elements/id-d76b46b601394fcda9454f153c69ca93.html"  target="element">
				  				<area shape="rect" coords="34,345,154,400" href="../elements/id-ea5392d90eb443e89bb2e9bace07bfc6.html"  target="element">
				  				<area shape="rect" coords="34,408,154,463" href="../elements/id-688dce1d65d94a15a53b6b202253003c.html"  target="element">
				  				<area shape="rect" coords="34,202,154,257" href="../elements/id-02172b6512894fbe8c13fc5a3cbb2148.html"  target="element">
				  				<area shape="rect" coords="202,306,322,361" href="../elements/id-8175e709c2c04548897e3a32972efd17.html"  target="element">
				  						<area shape="rect" coords="394,574,514,629" href="../elements/id-8deadbd5462247b4bf6b15e642f6a57e.html"  target="element">

				  				<area shape="rect" coords="358,514,545,646" href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html"  target="element">
				  						<area shape="rect" coords="886,406,1018,431" href="../elements/id-66764608219548688943f886f7d979d8.html"  target="element">

				  				<area shape="rect" coords="862,370,1031,443" href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html"  target="element">
				  						<area shape="rect" coords="370,358,479,395" href="../elements/id-d97eacbac5d742029b86b09aab781a70.html"  target="element">
				  						<area shape="rect" coords="490,358,587,395" href="../elements/id-9d0ac1ee6035448791f88948eab059a3.html"  target="element">
				  						<area shape="rect" coords="418,298,551,335" href="../elements/id-4d3acedc0b0a494e8b47cb49b6f7ca8a.html"  target="element">

				  				<area shape="rect" coords="358,274,611,409" href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html"  target="element">
				  						<area shape="rect" coords="646,574,766,623" href="../elements/id-d4596db562bf4cfea3d9800ae6c52ead.html"  target="element">

				  				<area shape="rect" coords="610,514,803,646" href="../elements/id-75489b12ce6640caaeddabe8563db09d.html"  target="element">
				  						<area shape="rect" coords="868,574,988,629" href="../elements/id-05552d648cd5463a81f617e3c3da5472.html"  target="element">
				  						<area shape="rect" coords="850,526,1006,562" href="../elements/id-97aac01d6db34468b76e1aa65882edb3.html"  target="element">

				  				<area shape="rect" coords="826,490,1031,646" href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html"  target="element">
				  				<area shape="rect" coords="629,345,761,409" href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html"  target="element">
				  						<area shape="rect" coords="615,94,772,131" href="../elements/id-d50e813967c041e7b38dff45f0d183ca.html"  target="element">
				  						<area shape="rect" coords="634,154,754,209" href="../elements/id-ef23c27142a344f897dd9260767fb8b6.html"  target="element">
				  						<area shape="rect" coords="766,154,886,209" href="../elements/id-33f7ee57efc94c66883982f3d6ef43d3.html"  target="element">
				  						<area shape="rect" coords="502,154,622,209" href="../elements/id-202ef5be437c4b2394e09ab6e83121b0.html"  target="element">

				  				<area shape="rect" coords="358,58,1031,233" href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html"  target="element">
				  						<area shape="rect" coords="886,322,1006,347" href="../elements/id-05a1f1a7014c446bb78fccc44df1fd2f.html"  target="element">

				  				<area shape="rect" coords="862,274,1031,361" href="../elements/id-cb0195ab75334702a46b4d7724653b59.html"  target="element">

				  		<area shape="rect" coords="10,10,1067,671" href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
											    <td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cb0195ab75334702a46b4d7724653b59.html" target="element"> User data storage service (MariaDB) </a> </td>
													    <td> <a href="../elements/id-cb0195ab75334702a46b4d7724653b59.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-05a1f1a7014c446bb78fccc44df1fd2f.html" target="element"> User data </a> </td>
															    <td> <a href="../elements/id-05a1f1a7014c446bb78fccc44df1fd2f.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
													    <td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-202ef5be437c4b2394e09ab6e83121b0.html" target="element"> Log/diary + feedback </a> </td>
															    <td> <a href="../elements/id-202ef5be437c4b2394e09ab6e83121b0.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-33f7ee57efc94c66883982f3d6ef43d3.html" target="element"> exercise video player </a> </td>
															    <td> <a href="../elements/id-33f7ee57efc94c66883982f3d6ef43d3.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ef23c27142a344f897dd9260767fb8b6.html" target="element"> Account log-in </a> </td>
															    <td> <a href="../elements/id-ef23c27142a344f897dd9260767fb8b6.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d50e813967c041e7b38dff45f0d183ca.html" target="element"> Apache Webserver (Dashboard) </a> </td>
															    <td> <a href="../elements/id-d50e813967c041e7b38dff45f0d183ca.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
													    <td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element"> AI Chat interface (Apache) </a> </td>
													    <td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-97aac01d6db34468b76e1aa65882edb3.html" target="element"> Apache Webserver (AI Chat) </a> </td>
															    <td> <a href="../elements/id-97aac01d6db34468b76e1aa65882edb3.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-05552d648cd5463a81f617e3c3da5472.html" target="element"> Help through AI chat </a> </td>
															    <td> <a href="../elements/id-05552d648cd5463a81f617e3c3da5472.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-75489b12ce6640caaeddabe8563db09d.html" target="element"> LLM provider (Ollama) </a> </td>
													    <td> <a href="../elements/id-75489b12ce6640caaeddabe8563db09d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d4596db562bf4cfea3d9800ae6c52ead.html" target="element"> 8B LLM  inferencing </a> </td>
															    <td> <a href="../elements/id-d4596db562bf4cfea3d9800ae6c52ead.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
													    <td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-4d3acedc0b0a494e8b47cb49b6f7ca8a.html" target="element"> S3-compatible API </a> </td>
															    <td> <a href="../elements/id-4d3acedc0b0a494e8b47cb49b6f7ca8a.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9d0ac1ee6035448791f88948eab059a3.html" target="element"> Video data </a> </td>
															    <td> <a href="../elements/id-9d0ac1ee6035448791f88948eab059a3.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-d97eacbac5d742029b86b09aab781a70.html" target="element"> Video Stream </a> </td>
															    <td> <a href="../elements/id-d97eacbac5d742029b86b09aab781a70.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html" target="element"> Authentication provider (Authelia) </a> </td>
													    <td> <a href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-66764608219548688943f886f7d979d8.html" target="element"> authentication </a> </td>
															    <td> <a href="../elements/id-66764608219548688943f886f7d979d8.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html" target="element"> Rehabilitation progress feedback service (Tomcat) </a> </td>
													    <td> <a href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8deadbd5462247b4bf6b15e642f6a57e.html" target="element"> Feedback generation </a> </td>
															    <td> <a href="../elements/id-8deadbd5462247b4bf6b15e642f6a57e.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
													    <td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02172b6512894fbe8c13fc5a3cbb2148.html" target="element"> Minio node 1 </a> </td>
													    <td> <a href="../elements/id-02172b6512894fbe8c13fc5a3cbb2148.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-688dce1d65d94a15a53b6b202253003c.html" target="element"> Minio node 4 </a> </td>
													    <td> <a href="../elements/id-688dce1d65d94a15a53b6b202253003c.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ea5392d90eb443e89bb2e9bace07bfc6.html" target="element"> Minio node 3 </a> </td>
													    <td> <a href="../elements/id-ea5392d90eb443e89bb2e9bace07bfc6.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d76b46b601394fcda9454f153c69ca93.html" target="element"> Minio node 2 </a> </td>
													    <td> <a href="../elements/id-d76b46b601394fcda9454f153c69ca93.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c67e6dfbf71c45c5ba192cd918900e99.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c67e6dfbf71c45c5ba192cd918900e99.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-cb0195ab75334702a46b4d7724653b59.html" target="element"> User data storage service (MariaDB) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e35d619ea9594558b8edfad9ee03a4b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e35d619ea9594558b8edfad9ee03a4b4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41e692d80a9d47309c198c10ef8295dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41e692d80a9d47309c198c10ef8295dc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f82747ff0b1746f2969a8840482bf42f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f82747ff0b1746f2969a8840482bf42f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element"> AI Chat interface (Apache) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b6f75ae1e25495faae2b9aced7cd718.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b6f75ae1e25495faae2b9aced7cd718.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-75489b12ce6640caaeddabe8563db09d.html" target="element"> LLM provider (Ollama) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0523ec1a8f194ccd86a1423db38651e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0523ec1a8f194ccd86a1423db38651e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html" target="element"> Authentication provider (Authelia) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3315b97190814d8591bd0eb79c7f3c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3315b97190814d8591bd0eb79c7f3c4c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html" target="element"> Rehabilitation progress feedback service (Tomcat) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e4598a99c0af42ab9fa4b61d059dd019.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4598a99c0af42ab9fa4b61d059dd019.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3a198e94a0e4b459da4aa26ccb79cb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3a198e94a0e4b459da4aa26ccb79cb6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7d9092b7a1134cefa7f16309e000b67a.html" target="element"> ReDi Rehabilitation Diary </a> </td>
																		<td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5e64f61afe964e68b0c6cb34dfd88616.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e64f61afe964e68b0c6cb34dfd88616.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cb0195ab75334702a46b4d7724653b59.html" target="element"> User data storage service (MariaDB) </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-41daee8a390c413389de452d85fdba37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-41daee8a390c413389de452d85fdba37.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cb0195ab75334702a46b4d7724653b59.html" target="element"> User data storage service (MariaDB) </a> </td>
																				<td> <a href="../elements/id-05a1f1a7014c446bb78fccc44df1fd2f.html" target="element"> User data </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8e414a2753994211b5a45a396d3cac30.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8e414a2753994211b5a45a396d3cac30.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																				<td> <a href="../elements/id-202ef5be437c4b2394e09ab6e83121b0.html" target="element"> Log/diary + feedback </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c9cae33777e943008042fc96d3d882ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c9cae33777e943008042fc96d3d882ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																				<td> <a href="../elements/id-ef23c27142a344f897dd9260767fb8b6.html" target="element"> Account log-in </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b7c9272069d0445fb4757ca256ab4fec.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b7c9272069d0445fb4757ca256ab4fec.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																				<td> <a href="../elements/id-33f7ee57efc94c66883982f3d6ef43d3.html" target="element"> exercise video player </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-51f133ed94bd43de8031414195b7d055.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51f133ed94bd43de8031414195b7d055.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																				<td> <a href="../elements/id-d50e813967c041e7b38dff45f0d183ca.html" target="element"> Apache Webserver (Dashboard) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-700b5da3a388451daf0ee30f40904ade.html" target="element"> Data entry </a> </td>
																				<td> <a href="../elements/id-700b5da3a388451daf0ee30f40904ade.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-b970def5ff9d426390efa6847deac7b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b970def5ff9d426390efa6847deac7b9.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																				<td> <a href="../elements/id-cb0195ab75334702a46b4d7724653b59.html" target="element"> User data storage service (MariaDB) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-edfb3de012514a0c80a822b5c18a4af4.html" target="element"> Authentication + responses </a> </td>
																				<td> <a href="../elements/id-edfb3de012514a0c80a822b5c18a4af4.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																				<td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element"> AI Chat interface (Apache) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8d1fa3b1f0494b61b6715f754f1a44c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d1fa3b1f0494b61b6715f754f1a44c2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																				<td> <a href="../elements/id-75489b12ce6640caaeddabe8563db09d.html" target="element"> LLM provider (Ollama) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a5e6e79eec96428ba300a93c2af12967.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a5e6e79eec96428ba300a93c2af12967.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																				<td> <a href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html" target="element"> Authentication provider (Authelia) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23a50685c9dd4bb8a57f1090b2f6f90f.html" target="element"> User logs + LLM responses </a> </td>
																				<td> <a href="../elements/id-23a50685c9dd4bb8a57f1090b2f6f90f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																				<td> <a href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html" target="element"> Rehabilitation progress feedback service (Tomcat) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-359dc714e49b4d30b54850a3b15466dd.html" target="element"> Authentication + data </a> </td>
																				<td> <a href="../elements/id-359dc714e49b4d30b54850a3b15466dd.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																				<td> <a href="../elements/id-f92bf3b3d2ea42e3b403e064b2ff3e90.html" target="element"> webapp dashboard (Apache) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-fba93073bd5f4c26b87bcfdc081cd978.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fba93073bd5f4c26b87bcfdc081cd978.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element"> AI Chat interface (Apache) </a> </td>
																				<td> <a href="../elements/id-97aac01d6db34468b76e1aa65882edb3.html" target="element"> Apache Webserver (AI Chat) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-81b960825cc54ff6b9e2b7d86ad41cf1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-81b960825cc54ff6b9e2b7d86ad41cf1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element"> AI Chat interface (Apache) </a> </td>
																				<td> <a href="../elements/id-05552d648cd5463a81f617e3c3da5472.html" target="element"> Help through AI chat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-23df9dff07fd4648a183769b97a9c29c.html" target="element"> Chat requests </a> </td>
																				<td> <a href="../elements/id-23df9dff07fd4648a183769b97a9c29c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4f4be9a4116244298b1d848d302cb6f9.html" target="element"> AI Chat interface (Apache) </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-61da4544416c42b285d46ffb484660f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-61da4544416c42b285d46ffb484660f6.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-75489b12ce6640caaeddabe8563db09d.html" target="element"> LLM provider (Ollama) </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1dabd904bf744d24996f6dbbb778d91e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1dabd904bf744d24996f6dbbb778d91e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-75489b12ce6640caaeddabe8563db09d.html" target="element"> LLM provider (Ollama) </a> </td>
																				<td> <a href="../elements/id-d4596db562bf4cfea3d9800ae6c52ead.html" target="element"> 8B LLM  inferencing </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a4c468ef00bb4ecb9897cd7c1931c388.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a4c468ef00bb4ecb9897cd7c1931c388.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b608b255b4e342038797d32763f85ec7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b608b255b4e342038797d32763f85ec7.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
																				<td> <a href="../elements/id-4d3acedc0b0a494e8b47cb49b6f7ca8a.html" target="element"> S3-compatible API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b77e97fe8c614513bee97b0ea089747e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b77e97fe8c614513bee97b0ea089747e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
																				<td> <a href="../elements/id-9d0ac1ee6035448791f88948eab059a3.html" target="element"> Video data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0881ef1545604d9ca1ed84f89df02cae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0881ef1545604d9ca1ed84f89df02cae.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
																				<td> <a href="../elements/id-d97eacbac5d742029b86b09aab781a70.html" target="element"> Video Stream </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-adc7383277cd4649a80d6b67429972d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-adc7383277cd4649a80d6b67429972d5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html" target="element"> Authentication provider (Authelia) </a> </td>
																				<td> <a href="../elements/id-66764608219548688943f886f7d979d8.html" target="element"> authentication </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-34b7684ce72c44a4a907907175ebd842.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-34b7684ce72c44a4a907907175ebd842.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-43af92b59c624e889d6fc2ea88b434aa.html" target="element"> Authentication provider (Authelia) </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3fbbfb5809384508820d44d36cc4e1f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3fbbfb5809384508820d44d36cc4e1f0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html" target="element"> Rehabilitation progress feedback service (Tomcat) </a> </td>
																				<td> <a href="../elements/id-8deadbd5462247b4bf6b15e642f6a57e.html" target="element"> Feedback generation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-641b998d3ceb48389306f655007ea6a2.html" target="element"> Progress feedback + LLM requests </a> </td>
																				<td> <a href="../elements/id-641b998d3ceb48389306f655007ea6a2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8ab72e2fc7ea48419adefec95d6afd44.html" target="element"> Rehabilitation progress feedback service (Tomcat) </a> </td>
																				<td> <a href="../elements/id-83499bb2d6eb49d8bfcff8bcab82483e.html" target="element"> REST API Gateway (Nginx) </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-8d8d201e5c1949e087fb5040fd9bcdbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8d8d201e5c1949e087fb5040fd9bcdbf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
																				<td> <a href="../elements/id-34c533fdeb2d4395bd0e06a9e44f13ec.html" target="element"> Video storage service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-725dc96ee0f343aa9b7e2bbd60b7a8d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-725dc96ee0f343aa9b7e2bbd60b7a8d1.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-02172b6512894fbe8c13fc5a3cbb2148.html" target="element"> Minio node 1 </a> </td>
																				<td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8ae461b6ea9c48d3b861e91f820536dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ae461b6ea9c48d3b861e91f820536dd.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-688dce1d65d94a15a53b6b202253003c.html" target="element"> Minio node 4 </a> </td>
																				<td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2aaa4544620e4eaa8b03c798f2c4d2fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2aaa4544620e4eaa8b03c798f2c4d2fd.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ea5392d90eb443e89bb2e9bace07bfc6.html" target="element"> Minio node 3 </a> </td>
																				<td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f9fba4962ecb4256afd908917206b242.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f9fba4962ecb4256afd908917206b242.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d76b46b601394fcda9454f153c69ca93.html" target="element"> Minio node 2 </a> </td>
																				<td> <a href="../elements/id-8175e709c2c04548897e3a32972efd17.html" target="element"> Load balancer (Nginx) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>